USE [KurumsalWebDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 25.11.2019 21:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 25.11.2019 21:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[Eposta] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[Yetki] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Admin] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 25.11.2019 21:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](max) NULL,
	[Icerik] [nvarchar](max) NULL,
	[ResimURL] [nvarchar](max) NULL,
	[KategoriId] [int] NULL,
 CONSTRAINT [PK_dbo.Blog] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hakkimizda]    Script Date: 25.11.2019 21:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hakkimizda](
	[HakkimizdaId] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Hakkimizda] PRIMARY KEY CLUSTERED 
(
	[HakkimizdaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hizmet]    Script Date: 25.11.2019 21:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hizmet](
	[HizmetId] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](150) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[ResimURL] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Hizmet] PRIMARY KEY CLUSTERED 
(
	[HizmetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Iletisim]    Script Date: 25.11.2019 21:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iletisim](
	[IletisimId] [int] IDENTITY(1,1) NOT NULL,
	[Adres] [nvarchar](250) NULL,
	[Telefon] [nvarchar](250) NULL,
	[Fax] [nvarchar](max) NULL,
	[Whatsapp] [nvarchar](max) NULL,
	[Facebook] [nvarchar](max) NULL,
	[Twitter] [nvarchar](max) NULL,
	[Instagram] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Iletisim] PRIMARY KEY CLUSTERED 
(
	[IletisimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 25.11.2019 21:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[KategoriId] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [nvarchar](50) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Kategori] PRIMARY KEY CLUSTERED 
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kimlik]    Script Date: 25.11.2019 21:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kimlik](
	[KimlikId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Keywords] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](300) NOT NULL,
	[LogoURL] [nvarchar](max) NULL,
	[Unvan] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Kimlik] PRIMARY KEY CLUSTERED 
(
	[KimlikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 25.11.2019 21:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[SliderId] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](30) NULL,
	[Aciklama] [nvarchar](150) NULL,
	[ResimURL] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.Slider] PRIMARY KEY CLUSTERED 
(
	[SliderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yorum]    Script Date: 25.11.2019 21:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorum](
	[YorumId] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](50) NOT NULL,
	[Eposta] [nvarchar](max) NULL,
	[Icerik] [nvarchar](max) NULL,
	[BlogId] [int] NULL,
	[Onay] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Yorum] PRIMARY KEY CLUSTERED 
(
	[YorumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminId], [Eposta], [Sifre], [Yetki]) VALUES (1, N'admin@admin.com', N'E10ADC3949BA59ABBE56E057F20F883E', N'Admin')
INSERT [dbo].[Admin] ([AdminId], [Eposta], [Sifre], [Yetki]) VALUES (2, N'kurumsalweb01@gmail.com', N'E2EECC524F9CB1248F5CEC2B845B5BCC', N'Admin')
INSERT [dbo].[Admin] ([AdminId], [Eposta], [Sifre], [Yetki]) VALUES (4, N'editor@kurumsalweb.com', N'827CCB0EEA8A706C4C34A16891F84E7B', N'Editor')
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[Blog] ON 

SET IDENTITY_INSERT [dbo].[Blog] OFF
SET IDENTITY_INSERT [dbo].[Hakkimizda] ON 

INSERT [dbo].[Hakkimizda] ([HakkimizdaId], [Aciklama]) VALUES (1, N'<p>A&ccedil;ıklamaa metni <strong>eklenecek</strong></p>
')
SET IDENTITY_INSERT [dbo].[Hakkimizda] OFF
SET IDENTITY_INSERT [dbo].[Hizmet] ON 

INSERT [dbo].[Hizmet] ([HizmetId], [Baslik], [Aciklama], [ResimURL]) VALUES (2, N'Hizmet yeni', N'<p>Hizmet 2 A&ccedil;ıklma</p>
', N'/Uploads/Hizmet/78092682-bda9-42f4-b816-e2821294b80b.jpg')
INSERT [dbo].[Hizmet] ([HizmetId], [Baslik], [Aciklama], [ResimURL]) VALUES (3, N'Test Hizmet', N'<p>Test Hizmet a&ccedil;ıklma</p>
', N'/Uploads/Hizmet/4a3544aa-2b7b-4b28-8d3b-5c59d8e5e092.jpg')
INSERT [dbo].[Hizmet] ([HizmetId], [Baslik], [Aciklama], [ResimURL]) VALUES (4, N'Hizmet yeni', N'<p>Hizmet 2 A&ccedil;ıklma</p>
', N'/Uploads/Hizmet/629da40d-d0f1-41eb-b7bc-35c723963dad.jpg')
SET IDENTITY_INSERT [dbo].[Hizmet] OFF
SET IDENTITY_INSERT [dbo].[Iletisim] ON 

INSERT [dbo].[Iletisim] ([IletisimId], [Adres], [Telefon], [Fax], [Whatsapp], [Facebook], [Twitter], [Instagram]) VALUES (1, N'İlkadım Samsunn', N'2222222222', N'333333333', N'2222', N'kurumsalweb', N'kurumsalweb', N'kurumsalweb')
SET IDENTITY_INSERT [dbo].[Iletisim] OFF
SET IDENTITY_INSERT [dbo].[Kategori] ON 

INSERT [dbo].[Kategori] ([KategoriId], [KategoriAd], [Aciklama]) VALUES (1, N'Genel', N'Genel Bilgiler Kategorisi')
INSERT [dbo].[Kategori] ([KategoriId], [KategoriAd], [Aciklama]) VALUES (3, N'Hizmet', N'Hizmet Detayları')
SET IDENTITY_INSERT [dbo].[Kategori] OFF
SET IDENTITY_INSERT [dbo].[Kimlik] ON 

INSERT [dbo].[Kimlik] ([KimlikId], [Title], [Keywords], [Description], [LogoURL], [Unvan]) VALUES (1, N'Kurumsal Web Site Projesi Başlığı', N'kurumsal,web,asp.net mvc,web sitesi', N'<p>Kurumsal web sitesi <strong>test</strong></p>
', N'/Uploads/Kimlik/logo.png.png', N'Kurumsal Web Ünvan')
SET IDENTITY_INSERT [dbo].[Kimlik] OFF
SET IDENTITY_INSERT [dbo].[Slider] ON 

INSERT [dbo].[Slider] ([SliderId], [Baslik], [Aciklama], [ResimURL]) VALUES (3, N'Hizmetlerimize Bakabilirsiniz', N'Hizmetlermizin detayları açıklamalarda mevcuttur', N'/Uploads/Slider/68f6af49-4d37-4c73-bf02-782d37b95dd3.jpg')
INSERT [dbo].[Slider] ([SliderId], [Baslik], [Aciklama], [ResimURL]) VALUES (5, N'Hizmetlerimize Bakabilirsiniz', N'Hizmetlermizin detayları açıklamalarda mevcuttur', N'/Uploads/Slider/845a1fa6-f340-4bc0-a03a-497b3c66a631.jpg')
INSERT [dbo].[Slider] ([SliderId], [Baslik], [Aciklama], [ResimURL]) VALUES (6, N'Hizmetlerimize Bakabilirsiniz', N'Hizmetlermizin detayları açıklamalarda mevcuttur', N'/Uploads/Slider/300f37d1-f4d8-4f15-8008-e73b356a9fca.jpg')
SET IDENTITY_INSERT [dbo].[Slider] OFF
SET IDENTITY_INSERT [dbo].[Yorum] ON 

INSERT [dbo].[Yorum] ([YorumId], [AdSoyad], [Eposta], [Icerik], [BlogId], [Onay]) VALUES (1, N'Mustafa SAĞLAM', N'mustafa@mustafa.com', N'test yorumudur', 1006, 1)
INSERT [dbo].[Yorum] ([YorumId], [AdSoyad], [Eposta], [Icerik], [BlogId], [Onay]) VALUES (2, N'Mustafa SAĞLAM', N'mustafa@mustafa.com', N'Deneme Yorum', 1005, 1)
INSERT [dbo].[Yorum] ([YorumId], [AdSoyad], [Eposta], [Icerik], [BlogId], [Onay]) VALUES (3, N'Mustafa SAĞLAM', N'mustafa@mustafa.com', N'test test', 1005, 1)
SET IDENTITY_INSERT [dbo].[Yorum] OFF
ALTER TABLE [dbo].[Yorum] ADD  DEFAULT ((0)) FOR [Onay]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Blog_dbo.Kategori_KategoriId] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategori] ([KategoriId])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_dbo.Blog_dbo.Kategori_KategoriId]
GO
ALTER TABLE [dbo].[Yorum]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Yorum_dbo.Blog_BlogId] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blog] ([BlogId])
GO
ALTER TABLE [dbo].[Yorum] CHECK CONSTRAINT [FK_dbo.Yorum_dbo.Blog_BlogId]
GO
